<div class="container">
  <form class="login" (ngSubmit)="loginUser()" [formGroup]="signInForm">
    <h2>Welcome, User!</h2>
    <p>Please log in</p>
    <input type="text" formControlName="email" name="" placeholder="Email" />
    <input type="password" name="" formControlName="password" placeholder="Password" />
    <div class="text-center">
      <button class="btn btn-success" type="submit" [disabled]="signInForm.invalid">Log In</button>
    </div>
    <hr>
    <div class="mt-5">
      <!-- <a href="#">Forgot password</a> -->
      <p>
        Don't have an account ?
        <a routerLink="/register">Register</a>
      </p>
    </div>
  </form>
</div>