<app-header></app-header>
<div class="container" style="margin-top: 10%;">
    <div class="row">
        <div class="col">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name of the Customer:</th>
                        <th scope="col">Date of Birth:</th>
                        <th scope="col">Gender:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td>{{name}}</td>
                        <td>14th June 2002</td>
                        <td>Female</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h3>Today's order:</h3>

        </div>
    </div>
</div>